.header__lang-link {
  padding: 0;
  margin-right: 18px;
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: normal;
}

.header__lang-link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 319px) {
  .header__logo {
    font-size: 1.1rem;
    line-height: 1.1;
  }
}