.places {
  max-width: calc(100% - 148px*2);
  /* width: 76.9%; */
  margin: 92px auto 92px;
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: calc(100% - 48px*2);
    /* width: 90.6%; */
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: calc(100% - 24px*2);
    /* width: 93.8%; */
  }
}

@media screen and (max-width: 319px) {
  .places {
    max-width: 100%;
  }
}