.cards__paragraph {
  margin: 0 0 26px 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
}

.cards__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .cards__paragraph {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
  }

  .cards__paragraph:last-child {
    margin-bottom: 0;
  }
}