.footer__copyright {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.1;
  color: #FFFFFF;
}

@media screen and (max-width: 319px) {
  .footer__copyright {
    font-size: 0.8rem;
    line-height: 1;
  }
}