.intro__text {
  max-width: 690px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 319px) {
  .intro__text {
    max-width: 100%;
  }
}