.intro__title {
  max-width: 690px;
  font-weight: bolder;
  font-size: 54px;
  line-height: 1.07;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .intro__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 319px) {
  .intro__title {
    max-width: 100%;
    font-size: 32px;
    line-height: 1.09;
  }
}